<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.dao.BoardDao"><!-- 인터페이스경로 -->
  <select id="findByWriter" resultType="boardVO"> <!-- 메소드이름, VO -->
    select * from board_mybatis where writer = #{writer}
  </select>
</mapper>