<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="greeter" class="chap02.Greeter"> 
	<property name="format" value="%s님 안녕하세요"/>
</bean>
<!-- 
	public Greeter greeter(){
		Greeter g = new Greeter();
		g.setFormat("%s님 안녕하세요"); 
		return g;
} 								과 같음 -->

</beans>
