<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.repository.BoardRepository">

	<sql id="search_condition">
		<choose>
			<when test="type=='T'.toString()">
	 			title like '%'||#{keyword}||'%'
			</when>
			<when test="type=='C'.toString()">
	  			content like '%'||#{keyword}||'%'
			</when>
			<when test="type=='W'.toString()">
	  			writer like '%'||#{keyword}||'%'
			</when>
		</choose>
	</sql>


	<!-- 제목 키워드 검색 -->
  <select id="getTotalCount" resultType="int">
  	select count(*) from board_my6
	<where><!-- 'where' 는 안써도 됌, null 검사안해도됌 -->
		<include refid="search_condition"/>
	</where>

  </select>
  
  <select id="detail" resultType="boardVO">
    select * from board_my6 where bno=#{bno}
  </select>
  
  <!-- list 페이징 -->
  <select id="list" resultType="boardVO">
  	<![CDATA[
	SELECT 
	    ROWNUM, BNO, TITLE, CONTENT, WRITER, WRITEDATE
	FROM 
	    (SELECT /*+INDEX_DESC(board_my6 PK_board_my6)*/ 
	        ROWNUM AS RN, BNO, TITLE, CONTENT, WRITER, WRITEDATE 
	    FROM board_my6 WHERE ROWNUM <=#{maxRow}
	    ]]>
	    <trim prefix="and"> <!-- prefix 접두어 sufiix 접미어 --> 
			<include refid="search_condition"/>
		</trim>
	    )
    <![CDATA[
	WHERE RN > #{minRow}
	]]>
  </select>
  
  <delete id="delete">
  	delete from board_my6
  </delete>
  
  
  
  
  
</mapper>